<xf:title>Добавление нового cервера</xf:title>

<xf:form action="{{ link('servers/save') }}" ajax="true" class="block">
  <div class="block-container">
    <div class="block-body">
      <xf:textboxrow name="name" value=""
                     label="{{ phrase('server_name') }}" />

      <xf:textboxrow name="title" value=""
                     label="{{ phrase('server_title') }}" />

      <xf:textboxrow name="host" value=""
                     label="{{ phrase('rcon_host') }}" />

      <xf:textboxrow name="port" value=""
                     label="{{ phrase('rcon_port') }}" />

      <xf:textboxrow name="passwd" value=""
                     label="{{ phrase('rcon_passwd') }}" />
    </div>

    <xf:submitrow sticky="true" icon="save" />
  </div>
</xf:form>