<xf:form class="bfield_3_invisible" method="POST" action="index.php?servers/{{ $this_server.name }}/buy">
    <input type="hidden" name="buy" value="{{ $price.name }}">
    <span class="bheading">Индивидуальный префикс в игровом чате</span>
    <div class="bheading_line"></div>
    <div class="bfield_3"></div>
    <div class="minput_1_invisible">
        <xf:if is="$price.is_discount == 1">
            <span class="minput_1_text">Стоимость - {{ $price.discount_add }} Tau, бессрочно. Повторная смена - {{ $price.discount_edit }} Tau.</span>
            <xf:else />
            <span class="minput_1_text">Стоимость - {{ $price.price_add }}, бессрочно. Повторная смена - {{ $price.price_edit }} Tau.</span>
        </xf:if>
        <input class="minput_1" name="data">
        <span class="minput_1_info">Префикс:</span>
    </div>
    <span class="mchoise_2_text3">Нажимая кнопку "Установить", вы соглашаетесь с правилами.</span>
    <button class="bbutton_3_1_invisible">
        <div class="bbutton_3_1"></div>
        <input style="display: none" id="prefix">
        <label class="bbutton_3_1_text" for="prefix">Установить</label>
    </button>
</xf:form>