<!DOCTYPE html>
<html lang="en">
<head>
    <title>Minecraft-World.ru | Управление аккаунтом</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Trebuchet+MS&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <style>
        {{ include('personal_area.less') }}
    </style>
</head>
<body>
{$content|raw}
</body>